<h1>Hello, {%FIRST%}</h1>

<h2>Info</h2>
<div class="userInfo">
  <table border="1px solid black" width="500">
    <tr>
      <td>name</td>
      <td>{%USERNAME%}</td>
    </tr>
    <tr>
      <td>email</td>
      <td>{%EMAIL%}</td>
    </tr>
    <tr>
      <td>age</td>
      <td>{%AGE%}</td>
    </tr>
    <tr>
      <td>phone</td>
      <td>{%PHONE%}</td>
    </tr>
    <tr>
      <td>thumbnail</td>
      <td><img src="{%THUMBNAIL%}" alt="" /></td>
    </tr>
    <tr>
      <td>location</td>
      <td>{%LOCATION%}</td>
    </tr>
    <tr>
      <td>gender</td>
      <td>{%GENDER%}</td>
    </tr>
  </table>
</div>
